body{
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.botton-container {

}

.skill-row {
  width: 35%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.security-img{
width: 40%;
float: left;
margin-right: 30px;
}

.document-img{
width: 40%;
float: left;
margin-right: 30px;
}

.shield-img{
width: 40%;
float: left;
margin-right: 30px;
}


.pro {
  text-decoration: underline;
}


.bottom-cloud {
  position:absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position:absolute;
  right: 300px;
  top:50px;
}
